* {
    font-family: "Inter", sans-serif;
}

:root {
    --brand: #824DFF;
    --brand-dark: #14111B;
}

.bg-brand {
    background-color: var(--brand);
}

.bg-brand-dark {
    background-color: var(--brand-dark);
}

/*Remove o "dd/mm/aaaa" do input data */
input[type="date"]:not(:focus):in-range::-webkit-datetime-edit-year-field,
input[type="date"]:not(:focus):in-range::-webkit-datetime-edit-month-field,
input[type="date"]:not(:focus):in-range::-webkit-datetime-edit-day-field,
input[type="date"]:not(:focus):in-range::-webkit-datetime-edit-text {
    color: transparent;
}

/*Estiliza o ícone do calendário */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.select {
    background-color: var(--brand);
}